:root {
	--primary: #575fcf;
	--secondary: #3c40c6;
	--gray-1: #485460;
	--gray-2: #808e9b;
	--light-gray: #d2dae2;
	--error: #da0000;
	--text-color: #333;
	--divider: #ffa801;
	--font-family: "Montserrat", sans-serif;
	--box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
	//BASE
	--primary: #464646;
	--secondary: #c04c4b;
	--tertiary: #6ea4bb;
	--content: #dadfe1;
	--text: #f0dba5;
	--background: #e6e6e7;
	--bacground-dark: #1e1e1e;
	--fond-jeux: #d7d7e6;
	--font-dark: #1e1e1e;
	//Stats
	--pv: #7ba591;
	--att: #cc222b;
	--def: #ffd45b;
	--attspe: #f15b4c;
	--defspe: #faa41b;
	--vit: #537c78;
	--total: #72c13e;
	//Faiblesse
	--x4: #540302;
	--x2: #ab3130;
	--x1: #ece0a6;
	--x05: #7a9163;
	--x025: #4f7b58;
	//TYPE
	--normal: #aea185;
	--feu: #e66029;
	--eau: #3989e9;
	--plante: #4fb441;
	--electrik: #ecb835;
	--glace: #63d2e6;
	--combat: #79322e;
	--poison: #833fa0;
	--sol: #b69049;
	--vol: #7b9ef4;
	--psy: #f24f84;
	--insecte: #849c2a;
	--roche: #916545;
	--spectre: #65549e;
	--acier: #8582a2;
	--dragon: #4040b8;
	--fee: #f688e9;
	//TYPE OPAC
	--op-normal: #d4dbcd;
	--op-feu: #e8dad3;
	--op-eau: #d6dee7;
	--op-plante: #d8e2d5;
	--op-electrik: #e8e3d4;
	--op-glace: #dae6e7;
	--op-combat: #dcd5d3;
	--op-poison: #ddd6df;
	--op-sol: #e3dfd6;
	--op-vol: #dce0e8;
	--op-psy: #e9d8dc;
	--op-insecte: #dde0d3;
	--op-roche: #dfdad6;
	--op-spectre: #dad8df;
	--op-acier: #d7d5d4;
	--op-dragon: #d6d6e2;
	--op-fee: #e9dee7;
}
